<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand"><strong>{{title}}</strong></a>
      <ul class="nav navbar-nav" routerLinkActive="active">          
          <li class="nav-item"><a class="nav-link" routerLink="/projectmanageruser">Add User</a></li>
          <!--<li class="nav-item"><a class="nav-link" routerLink="/user-list">User list</a></li>-->
          <li class="nav-item"><a class="nav-link" routerLink="/projectmanagertask">Add task</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/task-list">View Task </a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/projectmanagerproject">Add Project</a></li>
          <!-- <li class="nav-item"><a class="nav-link" routerLink="/project-list">Project list</a></li>  -->        
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>