<div class="col-md-6 add-project">      
  <form [formGroup]="addForm" novalidate class="form">  
    <div class="form-group">  
      <label for="projectName">Project:</label>  
      <input formControlName="projectName" name="projectName" class="form-control" id="projectName">  
      <div class="alert  alert-danger" *ngIf="addForm.get('projectName').hasError('required') && addForm.get('projectName').touched">  
        Project name is required.  
      </div>  
    </div>
    
    <div class="form-group">  
      <label for="setStartDateEndDate" class="checklabel">Set Start Date & End Date</label>  
      <input type="checkbox" (change)="changeValue($event)" formControlName="setStartDateEndDate" placeholder="" name="setStartDateEndDate" class="form-control" id="setStartDateEndDate" />    
    </div>
    <div class="form-group col-md-6" style="display: none;">  
      <label for="startDate">Start Date:</label>  
      <input type="date" formControlName="startDate" placeholder="Start Date" name="startDate" class="form-control" id="startDate" value="{{ post.startDate | date:'yyyy-MM-dd' }}"/>    
    </div>
    <div class="form-group col-md-6" style="display: none;">  
      <label for="endDate">End Date:</label>  
      <input type="date" formControlName="endDate" placeholder="End Date" name="endDate" class="form-control" id="endDate" value="{{ post.endDate | date:'yyyy-MM-dd' }}"/>    
    </div>
  
    <div class="form-group">  
      <label for="points">Priority :</label>  
      <input type="range" name="points" min="0" max="30" name="Priority" value=0>     
    </div>

    
    <div class="form-group row">  
      <div class="col-md-2"><label for="manager" >Manager:</label></div>
      <ng-select2 [data]="searchUsers" [placeholder]="'Search...'" [width]="300">	
      </ng-select2>     
    </div>
    <div class="form-group row col-md-12">  
    <button class="btn btn-success"   (click)="onSubmit()">Add</button>  
    <button class="btn btn-primary col-md-offset-2" (click)="onReset()">reset</button>  
  </div>
  </form>  
</div>
<app-project-list></app-project-list>